/*=========================DESIGN A CARD========================================================================*/








.pg_container_card{
    margin: 0 auto;
}   

ul.pg_content_list_card{
    list-style-type: none;
    width: 100%;
    margin: 0;
    text-shadow: 0 0 black;
    text-align: center;
}

.pg_content_list_card > .pg_content_card{
    background: #fff;
    vertical-align: top;
    height: 250px;
    border-radius: 2px;
    /* box-shadow: 0 0 5px 1px #eee; */
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
    text-align:left;
    box-sizing: border-box;
}

.pg_content_card_head > a.pg_content_card_link_images{
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.pg_content_card_infomation{
    padding-top: 5px;
}

.pg_content_card_infomation > a {
    text-decoration: none;
}

.pg_content_card_infomation > a > h3{
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.pg_content_card_infomation > p{
    font-size: 15px;
    color: #555;
    margin: 0;
    max-height: 75px;
    overflow: hidden;
}

.pg_content_card_infomation > p:after{

}

.pg_content_card_infomation > .pg_content_card_timepost{
    height: 20px;
}

.pg_content_card_infomation > .pg_content_card_timepost > a{
    font-size: 13px;
    color: #333;
    line-height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.pg_content_card_infomation > .pg_content_card_timepost >p{
    color: rgb(202, 202, 202);
    font-size: 13px;
    display: inline-block;
}

.pg_content_card_infomation > .pg_content_card_timepost > img{
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .pg_content_list_card > .pg_content_card{
        width: 98%;
    }
    
    .pg_content_list_card > li:nth-of-type(1n + 0){
        margin-right: 0;
    }

    .pg_content_scroll_listname{
        margin-top: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*2 item trên 1 dòng*/
    .pg_content_list_card > .pg_content_card{
        width: 49%;
        /* min-width: 379px; */
        /* max-width: 506.5px; */
        margin-right: 10px;
    }

    .pg_content_list_card > li:nth-of-type(2n + 0){
        margin-right: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .pg_content_list_card > .pg_content_card{
        /* min-width: 320px; */
        width: 32%;
        margin-right: 10px;
    }
    
    .pg_content_list_card > li:nth-of-type(3n + 0){
        margin-right: 0;
    }
}


@media screen and (min-width: 1280px) and (max-width: 1919px){
    .pg_content_list_card > .pg_content_card{
        /* min-width: 290px; */
        width: 24%;
        margin-right: 10px;
    }
    
    .pg_content_list_card > li:nth-of-type(4n + 0){
        margin-right: 0;
    }
}

@media screen and (min-width: 1920px){
    .pg_content_list_card > .pg_content_card{
        /* min-width: 290px; */
        width: 19%;
        margin-right: 10px;
    }
    
    .pg_content_list_card > li:nth-of-type(4n + 0){
        margin-right: 0;
    }
}







/*==============================================================================================================*/
/* custom seatchview */
#custom-search-input{
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 2px 0 5px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}
/* ================================================================================= */
.pg_4_list-card{
    margin-top: 10px;
}

.pg_4_card{
    width: 100%;
    height: 110px;
    background-color: rgba(124, 177, 212, 0.5);
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.pg_4_img{
    border-radius: 5px;
    display: block;
    width: 110px;
    height: 100%;
    float: left;
    position: absolute;
    left: 0px;
    background-position: center;
    background-size: cover;
}

.pg_4_info{
    padding: 5px;
    float: left;
    position: absolute;
    left: 110px;
    right: 0;
}

.pg_4_info > span{
    display: block;
}

.pg_4_info > span:nth-child(3){
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 400;
    color: deeppink;
}

.pg_4_info > span:nth-child(2){
    font-size: 12px;
}

.pg_4_card > button {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.pg_4_card > .pg_4_soluong{
    position: absolute;
    bottom: 2px;
    left: 110px;
    right: 120px;
    
}

.pg_4_card > .pg_4_soluong input {
    background: #666666 !important;
    color: #fff;
}
/* ------------------------------------------------------------------- */